<%= render "shared/header" %>

<div class="main">
  
    <div class="unit-inner">
    <table class="basic-table">
      <tbody>
        <tr>
          <th class="sub-texts">住所</th>
          <td>
            <p class="texts">〒310-0011</p>
            <p class="texts">茨城県水戸市三の丸1-4-3 内藤ビル1F</p>
            <p class="texts">090-1234-5678</p>
          </td>
        </tr>
      </table>
      </tbody>
    </div>
</div>

<%= render "shared/footer" %>