.top-page-header {
  width: 100vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("IMG_0105.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-text {
  width: 110px;
  height: 110px;
  margin: 0 15px 15px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 37px;
}

.menu-wrapper {
  position: absolute;
  right: 0px;
  top: 355px;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 60vh;
  padding: 0px;
  color: #333333;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: white;
}

.pull-down-menu {
  padding: 15px 55px 15px 15px;
  border: 1px solid lightgray;
  font-size: 14px;
  color: gray;
  font-style: oblique;
  text-decoration: none;
  text-align: left;
}

.hidden {
  display: none;
}
