<%= render "shared/second-header" %>

  <div class="create-main">
    <div class='create-wrap'>
      <div class="main-texts">
          退会の確認
      </div>
      <div class="sub-texts">
      退会した場合、スタッフに関するデータが全て削除されます。
      </div>
    </div>
    <div class='create-wrap'>
      <%= link_to "退会する", retirements_path, method: :post, class:"retirement-btn", data: {confirm: "本当に退会しますか？"} %>
    </div>
  </div>

<%= render "shared/second-footer" %>