<%= render "shared/second-header" %>

  <div class="create-main">
    <div class='create-wrap'>
          予約を受け付けました!
    </div>
   <a class="create-red-btn" href="/">topへ戻る</a>
  </div>

<%= render "shared/second-footer" %>